.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
  background: rgba(30, 30, 30, 0.6);
  gap: 16px;
  padding: 32px;
}

.footerContent {
  font-size: var(--font-xxs);
  text-align: center;
  color: #c6ab50;
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footerContent {
    text-align: start;
  }
}
