.botao {
  /* Tamanho e Reset básico */
  width: 300px;
  padding: 12px 60px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Coelacanth', serif;
  border: none;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  position: relative;
  transition: transform .3s;

  /* 1. CORES DA BANDEIRA */
  background-color: var(--detail-color); /* Cor de fundo da bandeira */
  color: var(--btn-text); /* Cor do texto */

  /* 2. RECORTE DA BANDEIRA (Formato) */
  /* Os pontos desenham: topo-esquerda, topo-direita, ponta-cima-v, ponta-baixo-v, baixo-esquerda */
  clip-path: polygon(15% 0%, 85% 0%, 80% 50%, 85% 100%, 15% 100%, 20% 50%);
  /* clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%); direita */
  /* clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 25% 50%); esquerda */ 
}

/* 3. A SEGUNDA COR (Borda Interna / Stroke) */
.botao::after {
  content: '';
  position: absolute;
  /* Controla a distância da borda interna para a borda externa */
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;

  /* Configuração da sua stroke interna */
  border: 2px solid var(--btn-text); /* Sua segunda cor aqui */
  border-radius: 1px 0 0 1px;

  /* Aplica o mesmo recorte para a borda interna não vazar */
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);

  /* Garante que o clique passe para o botão e não mude o texto de lugar */
  pointer-events: none;
}

.botao:hover{
  transform: scale(1.03);
}