.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 72px 32px;
  gap: 64px;
  margin: 0 auto;
  background:
    linear-gradient(
      295.04deg,
      rgba(16, 21, 27, 0.3) 0.64%,
      rgba(94, 18, 18, 0.03) 95.47%
    ),
    linear-gradient(
      64.97deg,
      rgba(33, 56, 33, 0.06) 23.84%,
      rgba(16, 21, 27, 0.3) 99.55%
    ),
    linear-gradient(
      180deg,
      rgba(6, 34, 123, 0.05) 0%,
      rgba(16, 21, 27, 0.5) 63.46%
    ),
    url('../assets/img/hogwarts_bg.jpg') center no-repeat;
  background-size: cover;
}

.sorteados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 60px 32px;
  background: linear-gradient(
    360deg,
    rgba(16, 21, 27, 0.2) 0.64%,
    rgba(21, 23, 24, 0.95) 95.47%
  );
}

.title {
  color: #c6ab50;
  text-align: center;
}

.title span {
  color: var(--display-color);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    height: auto;
    padding: 320px 60px 240px 60px;
    margin: 0 auto;
  }

  .sorteados {
    padding: 120px 60px;
    gap: 48px;
  }

  .buttonContainer {
    flex-direction: row;
    gap: 48px;
  }
}
